<%- include('menu') -%>
<%- include('navbar') -%>

<div class="main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card" style="min-height: 485px">
                <div class="card-header card-header-text">
                    <h4 class="card-title">Abrir Chamado</h4>
                </div>
                <div class="card-content table-responsive" style="padding: 10px;">
                    <form method="post" action="/abrirChamado">
                        <%- include('formsChamado') -%>
                        <div class="col-sm-10">
                            <input type="submit" value="Abrir Chamado" class="btn btn-default btn-success" />
                            <a href="/chamados" class="btn btn-outline-dark cancel">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

