<style>
    p {
        font-size: 15px;
        margin: 0px 0 0;
        line-height: 24px;
    }

    table.table label {
        font-size: 12px;
    }
</style>

<table class="table formsContracheque">
    <tbody>
      <tr>
        <td colspan="3" style="text-align: center;">
            <b><h3>Recibo de Pagamento</h3></b>
            <p>( Folha de Pagamento )</p>
        </td>
        <td colspan="3">
            <label for="">Data e Assinatura</label>
            <p>__/__/_____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______________________________</p>
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <label for="">Empregador</label>
            <p>EMPRESA TESTE TESTANDO</p>
        </td>
        <td>
            <label for="">Inscrição</label>
            <p>CNPJ: 00.000.000/00001-10</p>
        </td>
        <td>
            <label for="">Admição</label>
            <p>01/01/2001</p>
        </td>
        <td>
            <label for="">Competência</label>
            <p>Janeiro 2001</p>
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <label for="">Empregado</label>
            <p>00001 ANTONIO JOAQUIM DOS SANTOS</p>
        </td>
        <td>
            <label for="">Cargo</label>
            <p>TESTANDO</p>
        </td>
        <td colspan="2">
            <label for="">Lotação</label>
            <p>ADMINISTRAÇÃO</p>
        </td>
      </tr>

      <tr>
        <td colspan="2">
            <label for="">PIS</label>
            <p>123456789</p>
        </td>
        <td>
            <label for="">Banco</label>
            <p>TESTE</p>
        </td>
        <td>
            <label for="">Agência</label>
            <p>1234</p>
        </td>
        <td>
            <label for="">Conta</label>
            <p>123456789-10</p>
        </td>
        <td>
            <label for="">Tipo de conta</label>
            <p>Teste</p>
        </td>
      </tr>

      <tr>
        <td colspan="6" style="text-align: center;">
            <p><b>Discriminação das Verbas</b></p>
        </td>
      </tr>

      <tr>
        <td>
            <label for=""><b>Cod.</b></label>
        </td>
        <td colspan="2">
            <label for=""><b>Descrição.</b></label>
        </td>
        <td>
            <label for=""><b>Referência</b></label>
        </td>
        <td>
            <label for=""><b>Provento</b></label>
        </td>
        <td>
            <label for=""><b>Desconto</b></label>
        </td>
      </tr>

      <tr>
        <td>
            <label for="">011</label>
        </td>
        <td colspan="2">
            <label for="">Salário-Base</label>
        </td>
        <td>
            <label for="">30 dia(s)</label>
        </td>
        <td>
            <label for="">1.212,00</label>
        </td>
        <td>
        </td>
      </tr>

      <tr>
        <td>
            <label for="">310</label>
        </td>
        <td colspan="2">
            <label for="">INSS</label>
        </td>
        <td>
            <label for="">9%</label>
        </td>
        <td>
            <label for=""></label>
        </td>
        <td>
            <label>112,71</label>
        </td>
      </tr>

      <tr>
        <td>
            <label for="">320</label>
        </td>
        <td colspan="2">
            <label for="">Vale-Transporte</label>
        </td>
        <td>
            <label for="">6%</label>
        </td>
        <td>
            
        </td>
        <td>
            <label for="">72,72</label>
        </td>
      </tr>

      <tr>
        <td colspan="4"></td>
        <td>
            <label for="">Total de Proventos</label>
            <p>1.454,40</p>
        </td>
        <td>
            <label for="">Total de Descontos</label>
            <p>185,43</p>
        </td>
      </tr>

      <tr>
        <td colspan="5"></td>
        <td>
            <label for="">Liquido a Receber</label>
            <p>1.268,97</p>
        </td>
      </tr>

      <tr>
        <td>
            <label for="">Salário Contractual</label>
            <p>1.212,00</p>
        </td>
        <td>
            <label for="">Base de Cálculo do INSS</label>
            <p>1.454,40</p>
        </td>
        <td>
            <label for="">Base de Cálculo do FGTS</label>
            <p>1.454,40</p>
        </td>
        <td>
            <label for="">FGTS</label>
            <p>116,35</p>
        </td>
        <td>
            <label for="">FGTS Contribuição Social</label>
        </td>
        <td>
            <label for="">Base de Cálculo do IRRF</label>
        </td>
      </tr>

    </tbody>
  </table>