
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Digite um titulo " value="<%= modelo.titulo%>"/>
    <label for="titulo" class="form-label">Digite um titulo para o chamado</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descreva o seu chamado" value="<%= modelo.descricao%>"/>
    <label for="fudescricaoncao" class="form-label">Descreva o seu chamado</label>
</div>
